{% extends 'base.html' %}

{% block title %}THIS IS THE SURVEY{%endblock title %}

{%block content%}
<head></head>
    <!--Vue JS CDN-->
    <script src ="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
<body>
<h1>This is the Survey Page</h1>
<h1>Choose your top 3 priorities of these 5 to focus on.</h1>
<div id = "data">
<input type="checkbox" name="goal" value="health" v-model="prio" :disabled="prio.length==3">Health<br />
<input type="checkbox" name="goal" value="career" v-model="prio" :disabled="prio.length==3">Career<br />
<input type="checkbox" name="goal" value="social" v-model="prio" :disabled="prio.length==3">Social<br />
<input type="checkbox" name="goal" value="mindset" v-model="prio" :disabled="prio.length==3">Mindset<br/>
<input type="checkbox" name="goal" value="edu" v-model="prio" :disabled="prio.length==3">Education<br/>
<!--<button type = 'button' @click="showPri">Submit Priorities</button>-->
<h3>[[sectionHead]]</h3>
<h4>[[totalPoints]]</h4>
<div>
<label for=1>[[p1]]</label>
<input type = "number" name = [[p1]] id = 1 v-model="points1"/>
</div>
<div>
<label for=2>[[p2]]</label>
<input type = "number" name = [[p2]] id = 2 v-model="points2"/>
</div>
<div>
<label for=3>[[p3]]</label>
<input type = "number" name = [[p3]] id = 3 v-model ="points3"/>
</div>
</div>
<script>
    //a vue instance to access the 3 selected options
    new Vue({
        el:"#data",
        data: {
            //list to store priorities
            prio: [],
            //the three priorities
            p1: '',
            p2: '',
            p3: '',
            //title for the section on adding importance points, appears after 3 options selected
            sectionHead: '',
            //points assigned to each goal
            points1: 0,
            points2: 0,
            points3: 0
                    },
        delimiters: ['[[', ']]'],
        watch:{
            prio: function(){
                if(this.prio.length===3){
                    //set the 3 priorities
                    this.p1 = this.prio[0] + " points"
                    this.p2 = this.prio[1] + " points"
                    this.p3 = this.prio[2] + " points"
                    //set title for next section
                    this.sectionHead = 'You have 100 points to assign to these items. Assign points based on how important to you they are.'
                }
        }
            },
        computed: {
            totalPoints: function(){
                var sum = parseInt(this.points1) + parseInt(this.points2) + parseInt(this.points3);
                if(sum>100){
                    this.points1 = 0
                    this.points2 = 0
                    this.points3 = 0 
                }else{
                    return sum
                }
            }
        }
            })
</script>
</body>
{% endblock content %}